* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    color: #ffffff;
    background-color: #444148;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;

}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
}

.nav-main {
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 140px;
    margin-top: 10px;
    height: 60px;
    object-fit: cover;
}

/* nav left */
.nav-main ul {
    display: flex;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a{
    padding: 5px;
}
.nav-main ul li a:hover {
    padding: 10px;
    border-bottom: 2px solid #ffffff;
}
.nav-main ul.nav-menu{
    flex:1;
    margin-left: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}

/* SHOCASE */
hr {
    margin:10px 0;
}

.show-case {
    width: 100%;
    height: 500px;
    background: url('./img/Code.jpg') no-repeat center center/cover;
    padding: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 10px 0;

}

.btn:hover {
    opacity: .6;
}

.show-case h2,
.show-case p{ 
    padding: 10px;
    font-size: 60px;
    margin-bottom: 10px;

 } 
 
/* NEWS CARDS */

.news-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 10px 0;
    margin-bottom: 30px;
}
.news-cards img {
    width: 100%;
    height: 180px;
}
.img-platzi {
    object-fit: cover;
}
.img-bios {
    object-fit: cover;
}

.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a {
    /* padding: 10px 0; */
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: underline;
}

/* CARDS BANNERFS */


/* cards banner HTML HTML HTML HTML HTML CSS CSS CSS CSS CSS CSS CSS CSS */
/* .learn-html-practic{
    margin-top: 80px;
} */
/* <img src="./img/htmlCss.jpg" alt="Javascript"> */
.cards-banner-one{
    width: 100%;
    height: 500px;
    background: url('./img/htmlCss.jpg') no-repeat center center/cover;
    padding: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.cards-htmlcss-courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.cards-htmlcss-courses img{
    width: 100%;
    height: 320px;
    object-fit: cover;
} 
/* .cards-banner-two p{
    font-size: 28px;
    font-weight: bold;
} */

/* JAVASCRIPT */ /* JAVASCRIPT */ /* JAVASCRIPT */ /* JAVASCRIPT */ /* JAVASCRIPT */
.cards-banner-two img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.cards-javascript-courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
    margin-bottom: 30px;
}

.cards-javascript-courses img {
    width: 100%;
    height: 320px;
    object-fit: cover;

}
/* OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS  */
.cards-banner-three img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.cards-others-courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
    margin-bottom: 30px;
}
.cards-others-courses img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
/* PROYECT PROYECT PROYECT PROYECT PROYECT */
.proyect-title {
    text-align: center;
    font-size: 3em;
}
.proyect-title h3{
    color: #b70e21;
}
.proyect{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 10px 0;
    margin-bottom: 30px;
}
.proyect img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
/* social */
.social {
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
}
.links a i {
    font-size: 3rem;
}

/* CONTACT ME CONTACT ME CONTACT ME CONTACT ME CONTACT ME CONTACT ME CONTACT ME CONTACT ME CONTACT ME*/
.content {
    width: 100%;
    /* max-width: 1170px; */
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logoContact {
    text-align: center;
    font-size: 3em;
}
.logoContact span {
    color: #b70e21;   
}
.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}
.contact-wrapper > * {
    padding: 1em;
}
.contact-form {
    background: #222222;
}
.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form form .block {
    grid-column: 1/3;
}

.contact-form form p{

    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid #d63031;

}
.contact-form form button {
    background-color: #b70e21;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}
.contact-info {
    background: #000;
}
.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact-info ul {
    padding: 0;
}
.contact-info ul li {
    padding: 4px;
}

/* footer links */
.footer-links {
    background: #2f3640;
    color:#616161;
    font-size: 12px;
    padding: 35 0;

}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container ul {
    margin: 0 auto;
}
.footer-container ul li {
    line-height: 2.8;
}

.footer {
    background: #2f3640;
    color: #616161;
    font-size: 16px;
    padding: 20px 0;
    padding-bottom: 20px;
    text-align: center;
}

/* MEDIA PARA CONTACT */
@media (min-width:700px) {
    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 4px;
        text-align: left;
    }
}
@media (max-width: 920px) {
    
    .menu-btn {
        display:block;
    }

    .nav-main ul.nav-menu {
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li{
        padding: 30px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }
    .nav-main ul.nav-menu-right{
        margin-right: 40px;
    }


    .news-cards {
        grid-template-columns: auto;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .cards-htmlcss-courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin: 10px 0;
        margin-bottom: 30px;
        object-fit: cover;
    }
    .cards-javascript-courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin: 10px 0;
        margin-bottom: 30px;
        object-fit: cover;
    }
    

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    
    }
}

@media (max-width: 500px) {
    .news-cards {
        grid-template-columns: 1fr;
    }
    .news-cards img{
        width: 100%;
        height: auto;
        
    }

    .cards-htmlcss-courses {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        margin: 10px 0;
        margin-bottom: 30px;
        object-fit: cover;
    }
   
    .cards-javascript-courses {
        display: grid;
        grid-template-columns:1fr;
        gap: 25px;
        margin: 10px 0;
        margin-bottom: 30px;
        object-fit: cover;
    }
    .cards-others-courses {
        display: grid;
        grid-template-columns:1fr;
        gap: 25px;
        margin: 10px 0;
        margin-bottom: 30px;
        object-fit: cover;
    }
    .proyect{
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        margin: 10px 0;
        margin-bottom: 30px;
    }
        .footer-links .footer-container {
        grid-template-columns: 1fr;
    }
}